body {
  margin: 0;
  overflow: hidden;
}
div {
  margin: 0;
}
canvas {
  display: block;
  margin-left: -1em;
}

.darkmod {
  background: #a99e9e;
}
.bottomDefault {
  height: 200px;
}
.leftdefault {
  width: 200px;
}

.section {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
